{{>links}}


<header>
  <!-- Navbar -->
 
  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://source.unsplash.com/weekly?water');
      background-position: cover;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to Codeintelli</h1>
          <h4 class="mb-3">We Are Welcome you</h4>
          <a href='/registration' class="btn btn-outline-light btn-lg"  role="button"
            >Registration</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>