<section class="main">
    <div class="logo">
        <a href="#">
            <font>IT</font>VMH
        </a>
    </div>
    <div class="side-box">
        <div class="search">
            <i class="fas fa-search"></i>
            <input placeholder="Search" type="text" />
        </div>
    </div>
    <div class="m-img">
        <img alt="" src="images/{{header_image}}" />
    </div>
    <div class="m-text">
        <h1>{{primaryText}}<font>{{PrimaryColorText}}</font>
        </h1>
        <h2>Collect<font>ion</font>
        </h2>
        <a class="m-btn" href="#">Show More</a>
    </div>
    <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</section>