<meta charset="utf-8" />
<meta content="IE-edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<title>Shopping Site</title>

<link href="./images/logo.png" rel="shortcut icon" />

<link href="./css/style.css" rel="stylesheet" type="text/css" />

<script crossorigin="anonymous" src="https://kit.fontawesome.com/70a642cd7c.js"></script>