<section class="product">
    <div class="p-heading">
        <h3>Trendy <font>Arri</font>vals</h3>
    </div>
    <div class="product-container">
        <div class="p-box">
            <img alt="1" src="images/b1.png" />
            <p>Black Genuine Leather Bags.</p>
            <a class="price" href="#">$23.3</a>
            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="2" src="images/b2.png" />

            <p>Black Genuine Leather Bags.</p>

            <a class="price" href="#">$30.3</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="3" src="images/b3.png" />

            <p>Black Genuine Leather Bags.</p>

            <a class="price" href="#">$13.3</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="4" src="images/b4.png" />

            <p>Black Genuine Leather Bags.</p>

            <a class="price" href="#">$33.3</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="5" src="images/b5.png" />

            <p>Black Genuine Leather Bags.</p>

            <a class="price" href="#">$11.3</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>

        <div class="p-box">
            <img alt="6" src="images/b6.png" />

            <p>Black Genuine Leather Bags.</p>

            <a class="price" href="#">$43.3</a>

            <a class="buy-btn" href="#">Add To Cart</a>
        </div>
    </div>
</section>