{{! section }}
<section class="section my-4">
  <div class="container text-center">
    <div class="title py-5">
      <h1>Node File Uploader</h1>
      <p class="subtitle">Upload Images to the <strong>Server</strong></p>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <form
          action="/uploadmultiple"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="row">
            <div class="col-8">
              <input
                type="file"
                class="form-control"
                name="images"
                id="formFile"
                multiple
              />
            </div>
            <div class="col-2">
              <input
                type="submit"
                class="btn btn-warning"
                value="Upload Images"
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    {{! display images }}
    <section class="mt-5">
      <div class="row justify-content-center">
        {{#each images}}
          {{#each this}}
            {{#if imageBase64}}
              {{! bootstrap cads }}
              <div class="col-3 col-lg-3 m-2">
                <div class="card shadow" style="width: 18rem;">
                  <img
                    src="data:{{contentType}};base64,{{imageBase64}}"
                    class="card-img-top"
                    class="img-fluid"
                    alt="..."
                  />

                </div>
              </div>
              {{! /bootstrap cads }}
              {{! image base 64 if end }}
            {{/if}}
            {{! each  current image end }}
          {{/each}}
          {{! image  end }}
        {{/each}}
      </div>
    </section>
    {{! /display images }}

  </div>
</section>
{{! /section }}