{{!-- nodemon src/index.js -e hbs,js,html,css --}}
<html>

<head>
    {{>links}}
</head>

<body>
    {{>header}}
    {{>app}}
    {{>primaryProduct}}
    {{>SecondaryProduct}}
    {{>footer}}
</body>

</html>