<section class="our-brand">
    <div class="brand-text">
        <h3>Our Brand</h3>
        <h4>
            Small Shoes 2020 New Arrivals Mini Messenger
            <font>Classic Shoes</font>
        </h4>

        <p>
            In porttitor elit ac mi placerat hendrerit. Morbi accumsan, erat in
            ullamcorper consectetur, nisi erat efficitur eros, sagittis tristique
            odio turpis vitae dui. Vestibulum gravida est ut erat pretium, non
            pretium diam feugiat. Integer egestas suscipit lorem ac fermentum.
            Integer at mauris vitae justo sagittis dapibus. Pellentesque sit amet
            nisl vitae orci vehicula faucibus. Fusce et lat, feugiat est.
        </p>
    </div>

    <div class="brand-img"><img src="images/mobile.png" /></div>
</section>