<section class="subcribe-container">
    <h3>Subcribe For New Product Notification</h3>

    <div class="subcribe-input">
        <input placeholder="EX***********@gmail.com" type="email" />
        <a class="subcribe-btn" href="#">Send</a>
    </div>
</section>
<footer>
    <h3>ITVMH</h3>

    <ul class="footer-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/man">Man</a></li>
        <li><a href="/women">Women</a></li>
        <li><a href="/kids">Kids</a></li>
        <li><a href="/bags">Bags</a></li>
        <li><a href="/watch">Watchs</a></li>
    </ul>
</footer>

<a class="copyright" href="#">&#169; Copyright 2020. ITVMH</a>