<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>header}}




    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-10 main_header_right">
                        <figure>
                            <img src="images/about.svg" alt="about image" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-10 main_header_left">
                        <p>Check My Portfolio</p>
                        <h1>
                            I Am A<span class="text_clr"> MERN Stack Developer</span> And A
                            Freelancer
                        </h1>
                        <a href="/weather"> <button>Check Now</button></a>
                    </div>

                    <!-- right side -->
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>